/* share-tech-mono-regular - latin */
@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
         url('/resources/fonts/share-tech-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/resources/fonts/share-tech-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
html, body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #000;
    color: #0f0;
    height: 100%;
    margin: 0;
}

a:link, a:visited {
    color: #0f0;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#page {
    display: flex;
    align-content: center;
    height: 100%;
}

#screen {
    width: auto;
    height: auto;
    border: none;
    overflow: auto;
    word-break: break-word;
}
@media (min-width: 60em) and (min-height: 47.5em) {
    #screen {
        margin: auto;
        width: 50em;
        height: 37.5em;
        background-color: #000800;
        border: #444 solid;
        border-width: 3.75em 5em;
        border-radius: 6.25em;
    }
}

.terminal {
    display: inline-block;
    height: 100%;
    padding: 0 1em;
}

.terminal .terminal-input {
    height: 1em;
    min-width: 1em;
    outline: none;
    border: none;
    display: inline-block;
}

.terminal p {
    margin: 0.5em 0;
    padding: 0;
}

.terminal-bottom {
    position: relative;
    bottom: 1.5em;
    height: 0;
    padding: 0 1em;
}
.terminal-bottom p {
    margin: 0;
}